/*------------------------------
| Horizontal Menu (top of page) |
-------------------------------*/

/* Lines 5-30 style the bar itself: */
.menu-container {
    background-color: #D3D7DA;
    margin: 0;
    padding: 0;
}

.menu-container .menuitem {
    display: inline-block;
    display: inline-block;
    width: 5em;
    margin: auto;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    color: #F15F50;
}
.menu-container .dropdown {
    display: inline-block;
    width: 10%;
    min-width: 7em;
}
.menu-container .menuitem:hover,
.menu-container .dropdown:hover {
    color: #fff;
    background-color: #F15F50;
}

/* This styles the dropdown list of the menu:*/
.menu-container .dropdown-content {
    display: none;
    position: absolute;
    border: 3px dashed #27435C;
    margin: 0;
    color: #000;
    background-color: #fff;
    z-index: 1;
}
.menu-container .dropdown-content a {
    color: #000;
    text-decoration: none;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.menu-container .dropdown-item {
    display: block;
    text-align: left;
    margin: 0;
    padding: 0.5em;
    min-width: 8em;
}
.dropdown-item:hover, .dropdown-item:hover a {
    color: #fff;
    background-color: #F15F50;
}



/*-----------------------------------
| Site Title (under horizontal menu) |
------------------------------------*/

/* Lines 69-73 style the bar itself: */
.lower-header {
    margin: 0;
    background-color: #F15F50;
    display: inline-block;
    width: 100%;
}

/* Style the text of the title: */
.lower-header .site-name {
    margin: 10px;
    font-weight: lighter;
    font-size: 2.5em;
    color: #fff;
}

/* Add and style a site slogan: */
.lower-header .site-slogan {
    margin: 10px;
}

/* Add a logo, style its placement: */
.lower-header .site-logo {
    font-size: 2.5em;
    float: right;
    padding: 15px 10px;
    margin-right: 0.25em;
}

/* Define the image: */
.site-logo img {
    height: 80px;
}



/*---------------------------------
| Main Content Area (left of page) |
---------------------------------*/

/* This affects ALL 'div' created elements on the page: */
div.main-container {
    position: relative;
    width: 100%;
    min-width: 700px;
    top: -1em;
    padding: 0
    margin: auto;
    clear: both;
}

/* This affects 2/3rds of your page, mostly likely containing the majority of your written content: */
.main-container main {
    width: 60%;
    min-width: 399px;
    height: 100%;
    padding: 0;
    margin: 2em;
}



/*------------------------------------
| "Side" Content Area (right of page) |
------------------------------------*/
aside {
    min-width: 299px;
    padding: 0;
    margin: 2em;
    float: right;
}
