.main-container {
    margin: auto;
    margin-top: 0;
    padding-top: 0;
    min-width: 600px;
    max-width: 1280px;
    background-color: #fff;
    clear: both;
}

.main-container menu {
    margin: 0;
    padding: 0;
    float: left;
    width: 25%;
    height: 1000px;
    background-color: rgb(216, 47, 50);
}

.site-name {
    padding: 1em 0.5em;
    margin-left: 0;
    color: #fff;
    background-color: rgb(216, 47, 50);
}

.site-logo {
    margin: 0 auto;
    width: 75%;
    text-align: right;
}

.site-logo img {
    height: 80px;
    margin-top: -25px;
    margin-right: -20px;
}

.side.menuitem {
    display: block;
    font-size: 1em;
    padding: 0.5em;
    margin: 0.1em 0;
    text-decoration: none;
    background-color: rgb(43, 44, 48);
    color: #fff;
}

.side.menuitem:hover {
    background-color: rgb(216, 47, 50);
    color: #fff;
}

.dropdown-content {
    display: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.side.menuitem.dropdown-item {
    font-size: 0.8em;
    padding-left: 2em;
    margin-top: 0.05em;
    background-color: rgb(247, 226, 181);
    color: #fff;
}

.dropdown:hover .dropdown-content .side.menuitem.dropdown-item:hover {
    background-color: #fff;
    color: rgb(43, 44, 48);
}

.main-container main {
    margin: 0;
    padding: 0;
    float: left;
    width: 75%;
    min-width: 399px;
    height: 100%;
    background-color: rgb(43, 44, 48);
}

.main-container h1 {
    text-align: center;
    font-weight: lighter;
    letter-spacing: 0.4em;
    word-spacing: 1em;
    padding: 2em 0 0 0;
    margin-top: 0 !important;
}

.main-container p {
    padding: 2em;
    text-indent: 1.5em;
    line-height: 1.5em;
    text-align: justify;
    color: rgb(247, 226, 181);
    margin-top: 0;
}
